@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.background {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;}

.header {
    max-width: 1366px;    
    display: flex;
    height: 58px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.journey {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    justify-content: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 79px;}

.journey:hover {
    color: #01813F;}

.log_in:hover a{
    color: #01813F;}

.sign_up:hover a{
    color: #01813F;}

.form_head:hover .action_login {
    color: #01813F;
    text-decoration: underline;
}

.svg {
    fill: #FFFFFF;
}
.svg:hover {
    fill: #01813F;;
}

.nav_content {
    width: 350px;
    display: flex;
    justify-content: center;
    padding-right: 79px;}

.navigation {
    width: 126px;
    justify-content: space-between;
    display: flex;}

.content::before {
    content: '';
    width: 1px;
    height: 19px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    left: 27px;
    top: 3px;}

.content {
    width: 176px;
    justify-content: center;
    display: flex;
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
    padding-left: 48px;
    position: relative;}

a { text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;}

.main_form {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 0 auto;}

.form_head {
    width: 324px;
    height: 14px;
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;}

.action_singup {
    font-family: 'Ubuntu';
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #434343;
    position: relative;}

.action_singup::before {
    content: '';
    width: 18px;
    height: 18px;
    left: -60px;
    top: 1px;
    background: #3CB878;
    position: absolute;}

.action_login {
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #3CB878;
}

.social_media {
    width: 324px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 15px;}

.social_log {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

.facebook {
    background: #305DB8;}

.facebook:hover {
    background-color: #022263;}

.img_facebook {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    padding-left: 11px;
    display: flex;}

.text_facebook::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    left: -18px;
    top: -6px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;}

.text_facebook {
    font-size: 16px;
    padding-right: 22px;
    position: relative;}

.google {
    background: #DF4A32;}

.google:hover {
    background-color: #AB1F09;}

.img_google {
    width: 30px;
    height: 19px;
    color: #FFFFFF;
    padding-left: 10px;
    display: flex;}

.text_google::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    left: -30px;
    top: -6px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;}

.text_google {
    font-size: 16px;
    padding-right: 26px;
    position: relative;}

.main_form_or {
    width: 324px;
    height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 34px; 
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: relative;}

.main_form_or::before {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    left: 0px;
    top: 42px;
    background: #F2F2F2;}

.main_form_or::after {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    left: 171px;
    top: 42px;
    background: #F2F2F2;}

.form {
    height: 382px;
    width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 15px;
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 14px;
    color: #434343;}

input:focus {
    border: none;
    outline-offset: 0px;
    outline: none;}

.forms_box {
    padding: 15px 15px;
    display: inline-block;
    box-sizing: border-box;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #434343;
    cursor: pointer;}

.forms_box:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;}

.check_main {
    width: 324px;
    padding-top: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;}

.checkbox {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    cursor: pointer;}

.text_agree {
    padding-left: 11px;}

.terms {
    color: #3CB878;;}

.text_agree:hover .terms {
    color: #01813F;
    text-decoration: underline;}

.create_a {
    padding-top: 10px;}

.create:hover {
    background: #01813F;}

.create {
    display: inline-block;
    box-sizing: border-box;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;    
    background: rgba(60, 184, 120, 0.8);  
    cursor: pointer;}

